.booked_info_container{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.booked_info_no_items_container{

}
.booked_info_no_items_text{
    font-size: 16px;
    font-weight: 500;
    color: var(--brown);
}