.booked_info_container{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.booked_info_no_items_container{

}
.booked_info_no_items_text{
    cursor: pointer;
    font-size: 21px;
    font-weight: 500;
    color: var(--brown);
    padding: 50px;
    border-radius: 16px;
    background: var(--violet);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: 0.3s;
    opacity: 100%;
}
.booked_info_no_items_text:hover{
    background: var(--green);
}