@import "../../../../App"
.profile_container
    background-color: var(--white)
    padding: 15px
    border-radius: 15px
    display: flex
    flex-direction: column
    flex-grow: 1
    gap: 20px

.profile_info
    background: var(--violet)
    padding: 15px
    text-align: center
    border-radius: 15px
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2)
    @include text_light

.text_container
    @include text_button
    width: 100%
    padding: 30px
    display: flex
    flex-direction: column
    text-align: center