.section{
    height: 100%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    background: var(--white);

}
.container{
    flex-grow: 1;
    width: 1290px;
    margin: 0 auto;
    background: var(--white);
    display: flex;
}